
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/ico" href="static/index/assets/images/favicon.ico">


    <title>Sign Link | Home</title>

    <!-- Bootstrap core CSS -->
    <link href="static/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="static/index/assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="static/index/assets/css/animated.css">
    <link rel="stylesheet" href="static/index/assets/css/owl.css">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="home.html" class="logo">
              <img src="static/index/assets/images/logo.png" alt="Chain App Dev" height="75px" width="150px"/>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  
  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4><em>Explore Our Features</em></h4>
            <img src="static/index/assets/images/heading-line-dec.png" alt="">
            <p>Discover our app's groundbreaking features designed to make learning sign language intuitive, interactive, and accessible for users of all levels and abilities. Experience seamless real-time translation, personalized lessons, and community engagement like never before.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Learn</h4>
            <p>Our comprehensive lessons cover everything from basic vocabulary to advanced expressions, ensuring you gain proficiency at your own pace.</p>
            <div class="text-button">
              <a href="/learn">Get Started <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>Translate</h4>
            <p>Real-time sign language translation to text and speech in multiple languages including Hindi, English, French, etc.</p>
            <div class="text-button">
              <a href="/translate">Get Started <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Practice</h4>
            <p>Practice sign language with AI chatbots and train custom signs to learn standard signs uniquely and effectively.</p>
            <div class="text-button">
              <a href="#">Get Started <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Communicate</h4>
            <p>Unlock a world of communication opportunities as you confidently express yourself through sign language, breaking down barriers.</p>
            <div class="text-button">
              <a href="#">Get Started <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Join our mailing list to receive the news &amp; latest trends</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Subscribe Now <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Us</h4>
            <p>Jamia Millia Islamia University, Jamia Nagar, 
              Okhla, New Delhi, 110025</p>
            <p><a href="#">+91 95482 99969</a></p>
            <p><a href="#">hammadalipbt18@gmail.com</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#clients">Testimonials</a></li>
              <li><a href="#pricing">Pricing</a></li>
            </ul>
            <ul>
              <li><a href="#about">About</a></li>
              <li><a href="#clients">Testimonials</a></li>
              <li><a href="#pricing">Pricing</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Features</h4>
            <ul>
              <li><a href="#">Reliable Course</a></li>
              <li><a href="#">AI Chatbot</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">Sign to Text</a></li>
              <li><a href="#">Sign to Speech</a></li>
            </ul>
            <ul>
              <li><a href="#">Multi Lingual</a></li>
              <li><a href="#">User Friendly UI</a></li>
              <li><a href="#">Fast and Effective</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Our Company</h4>
            <div class="logo">
              <img src="static/index/assets/images/white-logo.png" alt="" height="70px">
            </div>
            <p>We focus to educate mutes and deafs from a young age.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © PARADOX. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="static/index/vendor/jquery/jquery.min.js"></script>
  <script src="static/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/index/assets/js/owl-carousel.js"></script>
  <script src="static/index/assets/js/animation.js"></script>
  <script src="static/index/assets/js/imagesloaded.js"></script>
  <script src="static/index/assets/js/popup.js"></script>
  <script src="static/index/assets/js/custom.js"></script>
</body>
</html>